a {
    list-style: none;
    text-decoration: none;
    font-family: '微软雅黑';
}

body {
    margin: 0;
    background-image: url(../img/background.png);
}

li {
    list-style: none;
    text-decoration: none;
}

#top {
    display: flex;
    position: relative;
    width: 100%;
    height: 138px;
    background: url(../img/top_bg.jpg);
    align-items: center;
    justify-content: right;
}

.logo {
    position: absolute;
    left: 200px;
}

.logo_title img {
    width: 330px;
    height: 101px;
}

#searchbox {
    display: flex;
    height: 50px;
    width: 520px;
    /* background-color: cadetblue; */
    justify-content: center;
    align-items: center;
}

#search_text {
    position: relative;
    border: 1px solid #e5e5e5;
    padding: 8px 30px 8px 11px;
    height: 30px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 18px;
    width: 300px;
    vertical-align: top;
    color: #0b6cb8;
    box-sizing: border-box;
    /* 去除搜索框单击时的高亮状态 */
    outline: none;
    /* 搜索框的透明度 */
    filter: opacity(70%);
}

.search {
    position: absolute;
    color: #0b6cb8;
    font-size: 22px;
    top: 58px;
    right: 125px;
    cursor: pointer;
}


/* .icon-search:before {
    position: absolute;
    content: "\e900";
    cursor: pointer;
    right: 130px;
    top: 62px;
    font-size: 14px;
    color: #0b6cb8;
} */

.icon-search:hover::before {
    color: deeppink;
}


/* #header{
    height: 50px;
    width: 100%;
    background-color: #0b6cb8;
    position: relative;
    top: 0;
    border: none;
} */


/* .title{
    background-color: #0b6cb8;
    width: 100%;
    height: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
} */


/* .one:hover .inside{
    display: flex;
}

.title_desc{
    padding: 0;
    position: relative;
    background-color: #98de6c;
    width: 1200px;
    /* height: 50px; 
    display: inline-flex;
    text-align: center;
    list-style: none;
    margin-top: 0;
    line-height: 50px;
    margin-left: 40px;
    z-index: 100;
}

.title_desc ul{
    margin: 0;
}

.title_desc li a{
    color: white;
}

.title_desc li{
    margin: 0;
    padding: 0;
    /* height: 50px; 
    width: 150px;
    transition: .5s;
}

.insidie{
    width:150px;
	line-height: 45px;
	font-size:16px;
	background: rgba(0,0,0,0.5);  
	position:absolute;
	top:50px;
	left: 150px;
    display: none;

}*/


/* .insidie ul{
    padding: 0;
    line-height: 50px;
}
.insidie ul li a{
    color: black;
} 

.insidie ul li a:hover{
    background-color: #005699;
}


.title_desc li:hover{
    background-color: #005699;
}

.inside{
    position: absolute;
    background-color: #0b6cb8;
}  */

#navi {
    position: relative;
    width: 1200px;
    height: 1190px;
    /* background-color: turquoise; */
    left: 180px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
    background: white;
}

.navi_desc {
    display: inline-block;
    margin-left: 10px;
}


/* 一下为轮播图样式 */

.slider {
    height: 400px;
    width: 1200px;
    /* margin: 100px auto; */
    position: absolute;
    overflow: hidden;
    z-index: 20;
}

.slider_scroll {
    height: 400px;
    width: 1200px;
    position: relative;
}

.slider_main {
    height: 400px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}

.slider_main .item {
    height: 400px;
    width: 1200px;
    position: absolute;
}

.slider_main .item img {
    height: 400px;
    width: 1200px;
}

.slider_index {
    width: 1200px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    color: #fff;
    position: absolute;
    bottom: 0;
    font-weight: 700;
    z-index: 20;
    background-color: rgb(0, 0, 0, .5);
}


/* 通过js添加的标签的样式 ,类名下的选择记得加空格*/

.slider_index .slider_index_icon.current {
    color: rgb(255, 255, 255, .0) !important;
    font-size: 15px;
}

.slider_index .slider_index_icon.current::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 6px;
    display: inline-block;
    margin: 1px 0 0 1px;
    background-color: #0b6cb8;
}

.slider_index .slider_index_icon {
    font-size: 12px;
    color: rgb(0, 0, 0, .1);
    z-index: 0;
    margin: 0 10px;
    cursor: pointer;
}


/* 没有被选中时呈现白色圆点 */

.slider_index .slider_index_icon::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 6px;
    display: inline-block;
    margin: 1px 0 0 1px;
    background-color: #fff;
}

.naviright {
    width: 300px;
    height: 719px;
    /* background-color: blanchedalmond; */
    position: absolute;
    right: 150px;
    top: 620px;
}

.navislide {
    display: inline-block;
    position: relative;
    width: 860px;
    /* height: 100px; */
    top: 420px
}

.slidetitle span {
    display: inline-block;
    color: white;
    background-color: #005699;
    font-size: 17px;
    width: 70px;
    padding: 10px 15px;
}

.slidetitle a {
    margin-left: 690px;
    color: grey;
    font-size: 15px;
    transition: .03s;
}

.slidetitle a:hover {
    color: #005699;
}

.navi_slide {
    float: left;
    position: relative;
    /* top: 15px; */
    width: 380px;
    height: 250px;
    overflow: hidden;
    background-color: #0b6cb8;
    margin-top: 15px;
}

ul.slide_small {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

li.slide_small {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s transform ease-in-out;
}


/* 让三张图片并行排列在一行 */

.slide_small:nth-of-type(1) {
    left: 0%;
}

.slide_small:nth-of-type(2) {
    left: 100%;
}

.slide_small:nth-of-type(3) {
    left: 200%;
}


/* 设置图片大小 */

.slide_small img {
    width: 380px;
    height: 250px;
}

.controls-visvable_small {
    position: absolute;
    left: 320px;
    width: 100%;
    bottom: 10px;
}

.controls-visvable_small label {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: rgb(116, 111, 111);
    border-radius: 50%;
    margin: 0 3px;
    border: rgb(116, 111, 111) 1px solid;
    z-index: 99;
}


/* d定义使切换时按钮的背景颜色变色，找到对应的radio */

.slide_small input[type="radio"]:nth-of-type(1):checked~.controls-visvable_small label:nth-of-type(1) {
    background-color: white;
}

.slide_small input[type="radio"]:nth-of-type(2):checked~.controls-visvable_small label:nth-of-type(2) {
    background-color: white;
}

.slide_small input[type="radio"]:nth-of-type(3):checked~.controls-visvable_small label:nth-of-type(3) {
    background-color: white;
}


/* 定义使点击轮播图的底部按钮时，使排列的三张图片向左移动相应的距离 */

.slide_small input[type="radio"]:nth-of-type(1):checked~.slide_small {
    transform: translateX(0%);
}

.slide_small input[type="radio"]:nth-of-type(2):checked~.slide_small {
    transform: translateX(-100%);
}

.slide_small input[type="radio"]:nth-of-type(3):checked~.slide_small {
    transform: translateX(-200%);
}

.slide_brc {
    padding-left: 5px;
    display: block;
    position: absolute;
    width: 380px;
    height: 40px;
    background-color: black;
    top: 210px;
    filter: opacity(60%);
    z-index: 0;
    line-height: 40px;
}

.slide_brc div {
    height: 100%;
    width: 318px;
    /* 将超出部分的字体隐藏并转换成省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

.slide_brc a {
    color: white;
    z-index: 100;
    font-size: 15px;
}

.desc {
    right: 0;
    position: absolute;
    width: 470px;
    height: 250px;
    margin-top: 15px;
    /* justify-content: center;
    /* align-items: center; */
}

.desc ul {
    left: 10px;
    position: absolute;
    padding: 0;
    margin: 0;
}

.desc ul li {
    list-style-image: url(../img/ico1.png);
    list-style-position: inside;
    line-height: 32px;
    width: 450px;
    height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #575757;
}

.desc ul li a {
    transition: .5s;
    color: #575757;
}

.desc ul li a:hover {
    color: #005699;
}

.desc ul span {
    margin: 0;
    margin-left: 10px;
    float: right;
    font-size: 13px;
}

.navi_desc2 {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    top: 450px;
    width: 410px;
    height: 350px;
}

.slidetitle2 span {
    display: inline-block;
    color: white;
    background-color: #005699;
    font-size: 17px;
    width: 70px;
    padding: 10px 15px;
}

.slidetitle2 a {
    margin-left: 250px;
    color: grey;
    font-size: 15px;
    transition: .03s;
}

.desc2 {
    right: 0;
    position: absolute;
    width: 470px;
    height: 250px;
    margin-top: 15px;
    /* justify-content: center;
    /* align-items: center; */
}

.desc2 ul {
    right: 0;
    position: absolute;
    padding: 0;
    margin: 0;
}

.desc2 ul li {
    list-style-image: url(../img/ico1.png);
    list-style-position: inside;
    line-height: 32px;
    width: 410px;
    height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #575757;
}

.desc2 ul li a {
    transition: .5s;
    color: #575757;
}

.desc2 ul li a:hover {
    color: #005699;
}

.desc2 ul span {
    margin: 0;
    margin-left: 10px;
    float: right;
    font-size: 13px;
}

.naviright_desc {
    position: absolute;
    width: 300px;
    height: 380px;
}

.naviright_desc span {
    display: block;
    width: 70px;
    background-color: #005699;
    padding: 10px 15px;
    font-size: 17px;
    color: white;
}

.naviright_desc a {
    display: inline-block;
    color: white;
    font-size: 17px;
    width: 110px;
    /* background-color: tomato; */
    margin-top: 20px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
}

.link-8 {
    font-size: 15px !important;
    background-color: #28c0ca;
}

.link-7 {
    background-color: #77c8ee;
}

.link-6 {
    background-color: #ffa060;
}

.link-5 {
    background-color: #bf99ff;
}

.link-4 {
    background-color: #5884d4;
}

.link-3 {
    background-color: #98de6c;
}

.link-2 {
    background-color: #ffa060;
}

.link-1 {
    background-color: #0099cb;
}

.naviright_desc_bottom {
    position: absolute;
    width: 300px;
    height: 150px;
    /* background-color: tomato; */
    top: 370px;
}

.naviright_desc_bottom span {
    display: inline-block;
    width: 70px;
    background-color: #005699;
    padding: 10px 15px;
    font-size: 17px;
    color: white;
}

.naviright_desc_bottom .title_a {
    color: gray;
    margin-left: 120px;
    font-size: 14px;
    transition: .5s;
}

.naviright_desc_bottom .title_a:hover {
    color: #005699;
}

.naviright_desc_bottom ul {
    position: absolute;
    left: 20px;
    top: 60px;
    margin: 0;
    padding: 0;
}

.naviright_desc_bottom ul li {
    height: 32px;
    line-height: 32px;
    list-style-image: url(../img/ico1.png);
    list-style-position: inside;
}

.naviright_desc_bottom ul li a {
    color: gray;
    transition: .5s;
}

.naviright_desc_bottom ul li a:hover {
    color: #005699;
}

.erweima {
    position: absolute;
    background-color: #eee;
    width: 300px;
    height: 170px;
    top: 180px;
    text-align: center;
}

.erweima.first {
    color: #005699;
}

.erweima img {
    display: block;
    width: 100px;
    margin: 20px 100px;
}

#fotter {
    padding-top: 20px;
    display: flex;
    position: relative;
    width: 100%;
    height: 270px;
    /* background-color: violet; */
    justify-content: center;
}

.fotter_desc {
    position: absolute;
    width: 1200px;
    height: 260px;
    background: url(../img/bottom_bg.png);
    left: 180px;
}

.fotter_banquan {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #0b6cb8;
    bottom: 0;
}

.fotter_banquan p {
    text-align: center;
    line-height: 15px;
    color: black;
}

.fotter_desc ul {
    position: absolute;
    top: 40px;
}

.fotter_desc ul li {
    color: gray;
    font-size: 15px;
    line-height: 32px;
}

h2 {
    position: absolute;
    display: block;
    font-size: 18px;
    left: 20px;
}

.fotter_desc2 {
    position: absolute;
    height: 200px;
    /* background: gray; */
    right: 180px;
}

.fotter_desc2 a {
    display: inline-block;
    margin: 0 5px;
    font-size: 15px;
    margin-top: 60px;
    color: gray;
    transition: .5s;
}

.fotter_desc2 span {
    color: gray;
}

.fotter_desc2 a:hover {
    color: #005699;
}


/* 这个是头部二级隐藏菜单 */

.title {
    width: 100%;
    height: 50px;
    /* background-color: lightcoral; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #0b6cb8;
}

#title_guide a {
    color: white;
}

#title_guide {
    list-style: none;
    display: inline-flex;
    height: 50px;
    /* background-color: tomato; */
    align-items: center;
    /* text-align: center; */
}

#title_guide li:hover {
    background-color: #005699;
}

#title_guide li {
    text-align: center;
    line-height: 50px;
    width: 150px;
    height: 50px;
    text-decoration: none;
    list-style: none;
    transition: .5s;
}

.one:hover .insidie {
    height: 350px;
}

.two:hover .insidie {
    height: 250px;
}

.three:hover .insidie {
    height: 200px;
}

.four:hover .insidie {
    height: 200px;
}

.five:hover .insidie {
    height: 250px;
}

.six:hover .insidie {
    height: 100px;
}

.insidie {
    position: absolute;
    top: 50px;
    /* text-align: center; */
    background: #333;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
    border-radius: 0 0 3px 3px;
    width: 150px;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 99999999;
    filter: opacity(60%);
}

.insidie a {
    color: white;
}

.insidie ul {
    padding: 0;
}